@use '../custom' as *;
@use '../components/mixins' as *;


.footer {
    background: $secondary !important;
    text-align: center;
	padding: 20px 0;
    color: antiquewhite;
}

.footer__name {
	margin-top: 0;
	margin-bottom: 0
}

.footer__title {
	margin-top: 0;
	color: #F56600
}
