@use '../custom' as *; 

.menu{
    li{
        padding: 0.1rem;
        a{
            color: $white !important;
            text-transform: capitalize;
            font-weight: 600;
        }
    }
    transition: ease-out 1s;

}
.menu:hover{
    background: $secondary !important;
    li{
        padding: 0.1rem;
        a{
            color: $white !important;
            text-transform: capitalize;
            font-weight: 600;
        }
    }
}