@use '../custom' as *; 

.display-2{
    margin-bottom: 1rem;

    &--intro{
        display: inline-block;
        font-weight: 600;   
    }

    &--description{
        font-size: 1.2rem;
        display: block;

    }
}

.border-left{
    border-left: 0.1rem solid $white;
    height: 100%;
}